<br/>
<div class="container">
  <br/>
  <div class="card">
    <h5 class="card-header text-white bg-secondary">Déclarer un problème</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <div class="card-text">
        <!-- (ngSubmit)="save()" -->
        <form class="form-horizontal"
        novalidate
        [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="nomProblemeId" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control"
              id="nomProblemeId"
              type="text"
              placeholder="Prénom (obligatoire)"
              formControlName="nomProbleme"
              [ngClass]="{'is-invalid': (problemeForm.get('nomProbleme').touched ||
                      problemeForm.get('nomProbleme').dirty) &&
                      !problemeForm.get('nomProbleme').valid,
                      'is-valid': (problemeForm.get('nomProbleme').touched ||
                      problemeForm.get('nomProbleme').dirty) &&
                      problemeForm.get('nomProbleme').valid}"
              />
              <span class="form-text" *ngIf="(problemeForm.get('nomProbleme').touched ||
                      problemeForm.get('nomProbleme').dirty) &&
                      problemeForm.get('nomProbleme').errors">
                <span *ngIf="problemeForm.get('nomProbleme').errors.minlength">
                  <small class="text-muted">
                    Indiquer au moins 3 caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>